* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #1a181f;
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #739CFB;
}

input {
  outline: none;
  border:none;
  box-shadow: none;  
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.container {
  justify-content: center;
  text-align: center;
}

.d-flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fren-nav {
  padding: 20px 30px;
  background: url('/stars.png');
}

.btn {
  border: none;
  outline: none;
  background-color: #ccc;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 3px inset #ffffff7c;
  outline: 1px solid #fff;
}

.connect-btn {
  color: #000;
  font-size: 14px;
  background: #FEDA5E;
  border-radius: 15px;
  padding: 15px 20px;
}

.md-btn {
  color: #fff;
  font-size: 14px;
  background: #6364ff;
  border-radius: 15px;
  padding: 15px 20px;
  margin-left: 1.5vw;
}

.main-section {
  flex-grow: 1;
  position: relative;
  padding: 30px 20px 60px;
}

.form-wrapper {
  position: relative;
  width: 100%;
  padding: 30px 20px;
  opacity: 0;   
  z-index: -3;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.25s linear; 
}

.form-wrapper.show {
  animation: slide-in 0.5s forwards;

}
.form-wrapper.hide {
  animation: slide-out 0.5s forwards;
  padding: 0;
  overflow: hidden;
}

.form-wrapper form {
  width: 100%;
  max-width: 420px;
  align-items: flex-start;
}

.form-wrapper form:not(:first-of-type) {
  padding-top: 30px;
}

.form-wrapper form input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-wrapper form input:first-of-type {
  margin-top: 1rem;
}

.form-wrapper form button {
  margin-top: 0.5rem;
}

.section-overlay {
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      to bottom,
      #000 40%,rgba(0, 0, 0, 0) 100%
    );
    position: absolute;
    left: 0;
    top: 0;
}

.main-title {
  font-size: 90px;
  font-weight: 900;
  font-style: italic;
  font-family: 'Montserrat', serif;
}

.main-desc {
  font-size: 20px;
  text-align: center;
  color: #F2F2F2;
  padding: 10px;
  line-height: 30px;
}

.sign-btn {
  margin-top: 20px;
  font-size: 18px;
  border-radius: 15px;
  padding: 15px 20px;
  background: #745EDA;
  color: #F2F2F2;
  border: 1px solid #FFFFFF;
}

.hashtag-image-title {
  width: 300px;
  /* Adjust width as needed */
  height: 300px;
  /* Adjust height as needed */
  vertical-align: middle;
  /* Align with text */
}


/* media query for mobile devices */
@media only screen and (max-width: 600px) {
  .fren-nav {
    padding: 20px;
  }

  .main-title {
    font-size: 35px;
  }

  .main-desc,
  p {
    font-size: 17px;
    line-height: 20px;
  }

  .sign-btn {
    font-size: 15px;
    width: 200px;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    height: auto;
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    height: 0;
  }
}